body{
    width: 1020px;
    height:1689px;
    margin: auto;
}
header{
    height: 63px;
    background-color: #323232;
}
 
nav{font-family: 'Lato-Bold', sans-serif; /*добавить шрифты*/
    font-size: 7px;
    position: relative;
    text-align: center;
    top: -33px; /*63(ширина header)-23(отступ снизу)-7(высота текста)*/
}
.navhex{
position:relative;
z-index: 0;
left: 420px;
bottom:182px; /*206-24*/
}
nav a{
    position: relative;
    color: white;
    z-index: 1;
    padding: 20px;
    text-decoration: none;
}
nav a:hover{
    color: #2eb398;
}
.dot{
position: relative;
color: #2eb398;
font-size: 9px;
z-index: 1;
}
.rightnav{
    margin-left: 140px;
}
.navtriangle{
    position: relative;
    width: 64px;
    height:55px;
    top: 10px;
    left:477px;
    z-index:2;
}
hr{
    display: inline-block;
    width: 410px;
    height: 1px;
    color:#ebeef0;
    background-color:#ebeef0;
    border: 0px;
    margin-left: 30px;
}
.secondline{
    margin-left: 130px; /*160-30*/
}
.hex{
    margin-top:77px;
    display: inline-block;
    width: 180px; /*высчитать ширину гексагона!*/
    height: 206px; 
    background: red;
    transform: rotate(120deg);
    overflow: hidden;
    visibility: hidden;
}
.hex-inside{
    width: 100%;
    height: 100%;
    background: green;
    transform: rotate(-60deg);
    overflow: hidden;
    visibility: hidden;
}
.hex-img{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transform: rotate(-60deg);
    visibility: visible;
}
.hex-img1{
    background-image: url(assets/hex-1.png);
} 
.hex-img2{
    background-image: url(assets/hex-2.png);
} 
.hex-img3{
    background-image: url(assets/hex-3.png);
} 
.hex-img4{
    background-image: url(assets/hex-4.png);
} 
.hex-img5{
    background-image: url(assets/hex-5.png);
} 
.hex-img6{
    background-image: url(assets/hex-6.png);
} 
.hex-img7{
    background-image: url(assets/hex-7.png);
} 
.hex-img8{
    background-image: url(assets/hex-8.png);
} 
.hex-img9{
    background-image: url(assets/hex-9.png);
} 
.hex-img10{
    background-image: url(assets/hex-10.png);
} 
.hex-img11{
    background-image: url(assets/hex-11.png);
} 
.hex-img12{
    background-image: url(assets/hex-12.png);
} 
.hex-img13{
    background-image: url(assets/hex-13.png);
} 
